@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
		url('fonts/titillium_web_400.woff2') format('woff2'),
		url('fonts/titillium_web_400.woff') format('woff'),
		url('fonts/titillium_web_400.eot?#iefix') format('embedded-opentype'),
		url('fonts/titillium_web_400.svg#TitilliumWeb') format('svg'),
		url('fonts/titillium_web_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
		url('fonts/titillium_web_700.woff2') format('woff2'),
		url('fonts/titillium_web_700.woff') format('woff'),
		url('fonts/titillium_web_700.eot?#iefix') format('embedded-opentype'),
		url('fonts/titillium_web_700.svg#TitilliumWeb') format('svg'),
		url('fonts/titillium_web_700.ttf') format('truetype');
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background: #f4f4f4;
}

h1,
h2,
h3,
h4 {
	font-family: bold;
}

h1 {
	font-size: 1.75rem;
}
h2 {
	font-size: 1.25rem;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

@media (max-width: 720px) {
	.col-md + .col-md {
		margin-top: 20px;
	}
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type='range'] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
